body {
    background: black;
    color: white;
    font-family: Georgia, serif;
    text-align: center;
}
p {
    font-style: italic;
    color: #6bb6ff;
}
h1 {
    font-style: italic;
    margin-top: 80px;
}

img {
    width: 600px;
    margin: 40px auto;
    display: block;
}

.links a {
    color: #4da6ff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
section {
max-width: 800px;
margin: 80px auto;
text-align: left;
}

h2 {
border-bottom: 1px solid #333;
padding-bottom: 10px;
}
.blog-list {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 20px;
}

.blog-card {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
}

.blog-card:hover {
    background: white;
    color: black;
}